header{
    height: 85px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.295);
}
.logo-container{
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-top: 10px;
    flex: 1;
}
.logo{
    width: 150px;
    height: 85px;
    cursor: pointer;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
    margin-right: 20px;
    margin-top: 10px;
}
.hamburger{
    width: 40px;
    cursor: pointer;
}
.nav-button{
    border: none;
    border-radius: 30px;
    margin-right: 35px;
    font-family: Smartfit;
    font-weight:bold;
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: white;
    cursor: pointer;
}
.nav-button:hover{
    background-color: rgb(138, 138, 138);
}
.nav-button:hover:active{
    opacity: 0.8;
}
.nav-button-red{
    border: none;
    border-radius: 30px;
    margin-right: 30px;
    font-family: Smartfit;
    font-weight:bold;
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgb(213, 43, 30);
    color: white;
    width: 165px;
    cursor: pointer;
}
.nav-button-red:hover{
    background-color: rgb(177, 38, 28);
}
.nav-button-red:hover:active{
    opacity: 0.8;
}
.block{
    vertical-align: middle;
}